<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>我的信息</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="{{ url_for('static', filename='css/mui.min.css') }}" rel="stylesheet" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav navs">
			<a class="mui-action-back"><img src="{{ url_for('static', filename='images/4129.png') }}" />返回</a>
			<h1 class="mui-title">我的信息</h1>
		</header>
		<div class="mui-content">
			<div class="xingxs">
				<!--时间-->

				<!--发来的信息-->
				<ul class="xingxs_ul ">
					<li class="xingxs_ul_left">
						<div class="div_time">
							<p>2020-03-02 12:25</p>
						</div>
						<div class="div_ingname">
							<img src="{{ url_for('static', filename='images/03.png') }}" />
						</div>
						<div class="zaix_xinx">
							<p>在吗</p>
						</div>
					</li>
					<li class="xingxs_ul_right">
						<div class="div_time">
							<p>2020-03-02 17:00</p>
						</div>
						<div class="div_ingname">
							<img src="{{ url_for('static', filename='images/3.png') }}" />
						</div>
						<div class="zaix_xinx">
							<p>在</p>
						</div>
					</li>
				</ul>
				<!--发去的信息-->

				<div style="height:70px;"></div>
				<div class="tijias_xx">
					<input type="text" />
					<p id="buse">发送</p>
				</div>
			</div>
		</div>
		<script src="{{ url_for('static', filename='js/mui.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.0.js') }}"></script>
		<script type="text/javascript">
			mui.init()
			//发送信息
			function send(headSrc, str, times) {

				var html = '<li class="xingxs_ul_left">' +
					'<div class="div_time">' +
					'<p>' + times + '</p>' +
					'</div>' +
					'<div class="div_ingname">' +
					'<img src="' + headSrc + '" />' +
					'</div>' +
					'<div class="zaix_xinx">' +
					'<p>' + str + '</p>' +
					'</div>' +
					'</li>'

				upView(html)
			}

			//接受消息
			function show(headSrc, str, times) {
				var html = '<li class="xingxs_ul_right">' +
					'<div class="div_time">' +
					'<p>' + times + '</p>' +
					'</div>' +
					'<div class="div_ingname">' +
					'<img src="' + headSrc + '" />' +
					'</div>' +
					'<div class="zaix_xinx">' +
					'<p>' + str + '</p>' +
					'</div>' +
					'</li>'

				upView(html)
			}

			//更新视图
			function upView(html) {
				$(".xingxs_ul").append(html);
				$('body').animate({
					scrollTop: $('.xingxs_ul').outerHeight() - window.innerHeight
				}, 200)
			}

			$(function() {

				$(".tijias_xx").on('keyup', 'input', function() {
					if($(this).val().length > 0) {
						$(this).next().css('background', '#E75D86').prop('disabled', true);
					} else {
						$(this).next().css('background', '#ddd').prop('disabled', false);
					}
				})
				$(".tijias_xx p").click(function() {
//					var time1 = "2020-03-02 12:25";
					var time1 = $(".xingxs_ul li:last-child .div_time p").text();
					var time2 = time();
					
					//截取字符串，得到日期部分"2009-12-02",用split把字符串分隔成数组
					var begin1 = time1.substr(0, 10).split("-");
					var end1 = time2.substr(0, 10).split("-");
					console.log(begin1)
					//将拆分的数组重新组合，并实例成化新的日期对象
					var date1 = new Date(begin1[1] + - +begin1[2] + - +begin1[0]);
					var date2 = new Date(end1[1] + - +end1[2] + - +end1[0]);
					//得到两个日期之间的差值m，以分钟为单位
					//Math.abs(date2-date1)计算出以毫秒为单位的差值
					//Math.abs(date2-date1)/1000得到以秒为单位的差值
					//Math.abs(date2-date1)/1000/60得到以分钟为单位的差值
					var m = parseInt(Math.abs(date2 - date1) / 1000 / 60);
					//小时数和分钟数相加得到总的分钟数
					//time1.substr(11,2)截取字符串得到时间的小时数
					//parseInt(time1.substr(11,2))*60把小时数转化成为分钟
					var min1 = parseInt(time1.substr(11, 2)) * 60 + parseInt(time1.substr(14, 2));
					var min2 = parseInt(time2.substr(11, 2)) * 60 + parseInt(time2.substr(14, 2));
					console.log(min1)
					console.log(min2 )
					//两个分钟数相减得到时间部分的差值，以分钟为单位
					var n = min2 - min1;
//					console.log(n)
					//将日期和时间两个部分计算出来的差值相加，即得到两个时间相减后的分钟数
					var minutes = m + n;
					console.log(minutes)

					if($(this).prev().val().length > 0) {
						show("images/3.png", $(this).prev().val(), time2);
						test()
						$(this).prev().val('');
						$(this).css('background', '#ddd').prop('disabled', false)
					}

				})
			})

			//时间封装
			function time(type) {
				type = type || 'hh:mm'
				var timer = new Date();
				var year = timer.getFullYear();
				var month = timer.getMonth() + 1;
				var date = timer.getDate();
				var hour = timer.getHours();
				var min = timer.getMinutes();
				if(type == 'hh:mm') {
					hour = hour < 10 ? ('0' + hour) : hour;
					min = min < 10 ? ('0' + min) : min;
				}
				if(month<10){
					month = "0"+ month
				}
				if(date<10){
					date = "0" + date
				}
				var time = year + "-" + month + "-" + date + "  " + hour + ":" + min;
			
				return time;
			}

			//数据测试
			function sj() {
				return parseInt(Math.random() * 10)
			}

			var arr = ['你好'];

			function test() {
				var times = time();
				$(arr).each(function(i) {
					setTimeout(function() {
						send("images/03.png", arr[i], times)
					}, sj() * 500)
				})
			}
		</script>
	</body>

</html>