<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>我的余额</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/style.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav navs">
			<a class="mui-action-back"><img src="images/4129.png"/>返回</a>
			<h1 class="mui-title">我的余额</h1>
			<div class="mingxs">
				<img src="images/19497.png"/>
				<a href="#" class="">零钱明细</a>
			</div>
			
		</header>
		<div class="mui-content">
		    <div class="yuets">
		    	<form>
		    		<div class="gras">
		    			<img src="images/4337.png"/>
		    			<p>我的余额</p>
		    			<h4>¥200.00</h4>
		    		</div>
		    		<div class="subybtn">
		    			<button class="congzi">充值</button>
		    			<button class="tixians">提现</button>
		    		</div>
		    	</form>
		    </div>
		</div>
		<script src="js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>