<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>会员服务</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/style.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav navs">
			<a class="mui-action-back"><img src="images/4129.png"/>返回</a>
			<h1 class="mui-title">会员服务</h1>
		</header>
		<div class="mui-content">
		    <div class="sty_vip">
		    	<img src="images/4338.png"/>
		    </div>
		    <div class="huiyzq">
		    	<img src="images/3664.png"/>
		    	<div class="vip_ltile">
		    		<h4>会员专区</h4>
		    		<div class="hiys">
		    			<div class="imgs_vip"><img src="images/03.png"/></div>
		    			<div class="vip_name">
		    				<h5>刘大姐 <img src="images/4339.png"/></h5>
		    				<p>有效期至 2020-06-10</p>
		    			</div>
		    		</div>
		    	</div>
		    </div>
		    <div class="tejian">
		    	<h4>会员专区特权</h4>
		    	<ul class="tejian_ul">
		    		<li><a href="#">条件搜索</a></li>
		    		<li><a href="#">信息交流</a></li>
		    		<li><a href="#">资料查看</a></li>
		    		<li><a href="#">查看过微信的人记录查询</a></li>
		    		<li><a href="#">查看过电话的人记录查询</a></li>
		    		<li><a href="#">查看过QQ的人记录查询</a></li>
		    	</ul>
		    </div>
		</div>
		<script src="js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>